
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    position: relative;
    min-height: 100vh;
    margin-top: -3em;
    padding-top: 3em
}

#app.menu-active .header {
    margin-left: 13em
}

#app.menu-active .menu {
    transform: none
}

#app.menu-active .content, #app.menu-active .footer {
    margin-left: 13em
}

#app.menu-active #loader {
    padding-left: 13em
}

#app .menu {
    position: fixed;
    width: 11em;
    padding: 1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    top: 0;
    background-color: #fff;
    height: 100%;
    transition: transform .5s;
    transform: translateX(-13em)
}

#app .menu h1 {
    margin-top: .5em
}

#app .menu-close {
    display: none;
    cursor: pointer;
    transition: transform .1s
}

#app .menu-close:hover {
    transform: scale(1.2)
}

#app .menu-close:active {
    transform: scale(.98)
}

#app .menu-bottom {
    bottom: 2em;
    position: absolute
}

#app .menu ul {
    list-style-type: none;
    padding: 0
}

#app .menu ul li {
    list-style: none;
    margin: 1em;
    transition: transform .2s;
    cursor: pointer
}

#app .menu ul li.active {
    font-weight: 700
}

#app .menu ul li:hover {
    transform: scale(1.1)
}

#app .menu ul li:active {
    transform: scale(.98)
}

#app .content {
    margin-top: 3em;
    transition: margin-left .5s;
    padding: 1em 1em 12em
}

#app .button {
    transition: background-color .2s, color .2s, transform .1s;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: #f1f1f1;
    color: #000;
    padding: 16px 30px;
    border-radius: 5px
}

#app .button:hover {
    background-color: #222;
    color: #fff;
    transform: scale(1.1)
}

#app .button:active {
    transform: scale(.98)
}

#app .button-sort {
    line-height: 2em;
    font-weight: 700;
    cursor: pointer;
    padding: .2em .5em;
    border-radius: .2em
}

#app .button-random {
    position: fixed;
    z-index: 5;
    bottom: .8em;
    right: .8em;
    box-shadow: 0 0 12px rgba(0, 0, 0, .5)
}

#app .button-next {
    float: right
}

#app .button-prev {
    float: left
}

#app #loader {
    transition: visibility .5s, opacity .5s;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
    opacity: 0;
    z-index: 4
}

#app #loader.active {
    visibility: visible;
    opacity: 1
}

#app #loader div {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: relative;
    top: 40%;
    margin: 0 auto;
    box-shadow: 0 0 12px 8px rgba(0, 0, 0, .2), inset 0 0 12px 8px rgba(0, 0, 0, .2)
}

@media only screen and (max-width: 400px) {
    #app .menu-close {
        display: inline-block
    }

    #app.menu-active .content, #app.menu-active .footer {
        margin-left: 0
    }
}

::-webkit-scrollbar {
    width: 12px
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3)
}

::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 1em
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}
